.Home{
    text-align: center;
    background-color: beige;
}

.Home-h1{
    z-index: 0;
    display: flex;
}
.Dashboard{
    background-color: #F8F4F1;
}
.Login{
    background-color: #F8F4F1;
}

.adminDashboard-navbar-nav{
    /* margin-left: 25%; */
    align-items: center;
}
.Footer{
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width : 10%;
    border : 1px black;
  }